@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#2F363F;
	letter-spacing: 0.2px;
	transition: 0.2s;
}
.navbar-brand{
	color: #4C4B4B;
	letter-spacing: 0.2px;
}
h2{
	color: #4C4B4B;
	letter-spacing: 0.2px;
	font-family: raleway;
}